

.container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.container-div {
    width:400px;
    height:250px;
    border:2px solid #5F2BD4;
    border-radius:4px 20px;
}
.form-title {
    font-size:17px;
    color:rgba(0,0,0,0.8);
    margin:4px;
}
.form-span {
    margin:2px;
    font-size:16px;
    color:rgba(0,0,0,0.95);
}
form {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}